<html>
<head>
<title>AeroGeek | About Me</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="{% static 'css/styles/layout.css' %}">
</head>
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('../images/demo/backgrounds/01.png');">
  <!-- ################################################################################################ -->
  <header id="header" class="hoc clear">
    <div id="logo">
      <!-- ################################################################################################ -->
      <h1><i class="fa fa-skyatlas"></i> <a href="../index.html">AeroGeek</a></h1>
      <p>Just a little of everything.</p>
      <!-- ################################################################################################ -->
    </div>
    <div id="topbar" class="clear">
      <!-- ################################################################################################ -->
      <nav id="mainav" class="fl_left">
        <ul class="clear">
          <li><a href="../index.html">Home</a></li>
          <li class="active"><a class="drop" href="#">Pages</a>
            <ul>
              <li><a href="gallery.html">Gallery</a></li>
              <li class="active"><a href="full-width.html">Blog</a></li>
              <li><a href="sidebar-left.html">Sidebar Left</a></li>
              <li><a href="sidebar-right.html">Sidebar Right</a></li>
              <li><a href="basic-grid.html">Basic Grid</a></li>
            </ul>
          </li>
          <!-- <li><a class="drop" href="#">Dropdown</a>
            <ul>
              <li><a href="#">Level 2</a></li>
              <li><a class="drop" href="#">Level 2 + Drop</a>
                <ul>
                  <li><a href="#">Level 3</a></li>
                  <li><a href="#">Level 3</a></li>
                  <li><a href="#">Level 3</a></li>
                </ul>
              </li>
              <li><a href="#">Level 2</a></li>
            </ul>
          </li>
          <li><a href="#">Link Text</a></li>
          <li><a href="#">Link Text</a></li>
        </ul> -->
      </nav>
      <div class="fl_right">
        <ul class="nospace inline pushright">
          <li><a href="riathakkar.pythonanywhere.com/admin" title="Login"><i class="fa fa-sign-in"></i></a></li>
          <!-- <li><a href="#" title="Register"><i class="fa fa-user-plus"></i></a></li>
          <li><a href="#" title="Newsletter"><i class="fa fa-newspaper-o"></i></a></li> -->
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </div>
  </header>
